/* 
COLOR PALLETE
https://coolors.co/011627-8d98a7-386150-750d37-ab4e68
#F5F1ED - Off-White
#8D98A7 - Cadet Gray
#750D37 - Deep Pink
#386150 - Hunter Green
#021627 - Deep Blue
*/

/* --Global Styes-- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    color: #021627;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #F5F1ED;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    line-height: 1;
    text-shadow: -5px 0 #1B1E23, 0 1px #8D98A7, 1px 0 #8D98A7, 0 -1px #8D98A7;
}

h2 {
    font-size: 40px;
}

h1, h2 {
    font-family: 'Give You Glory', cursive;
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* --Navigation-- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8D98A7;
    font-weight: bold;
  }
  
nav li {
    float: left;
    width: 170px;
  }
  
nav li a, .dropbtn {
    display: inline-block;
    color: #F5F1ED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 170px;
  }
  
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #4C5663;
  }
  
nav li.dropdown {
    display: inline-block;
  }
  
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #606D7D;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
nav .dropdown-content a {
    color: #F5F1ED;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

nav .dropdown-content a:hover {
    color: #F5F1ED;
}
  
nav .dropdown:hover .dropdown-content {
    display: block;
  }

  
/* --Profile-- */
header {
    background: #386150;
    color: #F5F1ED;
}


/* --Projects-- */
.projects {
    background: #F5F1ED;
}

.projects a {
    color: #750D37;
}

.projects .btn {
    color: #F5F1ED;
    background: #750D37;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.projects .btn:hover {
    background: rgba(117, 13, 55, 80%);
}

.project-item {
    overflow: hidden;
    border-bottom: 2px dashed #386150;
    padding: 20px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}


/* --Work Experience-- */
.work-experience {
    background: #8D98A7;
    color: #F5F1ED;
}


/* --Education-- */



/* --Contact Info-- */
footer {
    background: #750D37;
    color: #F5F1ED;
}

footer li {
    display: inline-block;
    padding: 14px 16px;
    font-size: 16px;
}


